{% extends 'base.html' %}

{% block content %}

    <div>
        <h1>社員詳細ページ</h1>
    <!-- staffの部分はobjectと書き換えられる  -->
    <!-- モデル名（小文字） or 「object」で良い-->
            <p>社員id : {{ staff.pk }}</p><br>
            <p>社員id : {{ staff.id }}</p>
            <p>社員名 : {{ staff.name }}</p>
            <p>メールアドレス : {{ staff.information.email|default:'未入力' }}</p>
            <p>住所 : {{ staff.information.address }}</p>
            <p>部署 : {{ staff.department.name }}</p>


            <!-- ボタンの場合はifを使う-->
            <p> {% if staff.information.at_desk %}
                    出社中
                {% else %}
                    離席中
                {% endif %}
            </p>

            <!-- ManyToManyの場合はfor文で回す   -->
            <!-- インスタンス名.ManyToManyの名前.all という書き方にする（末尾に.allを忘れない）      -->
            <p>現在借りている本 :
                    {% for book in staff.rented_books.all %}
                        {{ book }} /
                    {% endfor %}
            </p>

            <p>
            {% for book in books %}
                {{ book.name }},
            {% endfor %}
            </p>
    </div>

{% endblock %}